body{
    background-color: darkviolet;
    text-align: center;
}
div{
    background-color: beige;
    border-radius: 10px;
    min-height: 400px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
button{
    padding: 10px;
}
img{
    height: 250px;
    width: 200px;
}