body {
    background: rgb(10, 28, 116);
    background: linear-gradient(90deg, rgba(10, 28, 116, 1) 8%, rgba(66, 75, 238, 1) 51%, rgba(10, 28, 116, 1) 100%);
    text-align: center;
}

.principal {
    background-color: rgb(173, 232, 255);
    border-radius: 10px;
    min-height: 400px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

button {
    padding: 10px;
    margin-top: 10px;
}

img {
    height: 250px;
    width: 200px;
}

input {
    margin: 10px;
}
.tirar{
    width: 30px;
    height: 30px;
}